@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,600');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #eeede3;
}

body {
  padding-top: 0px;
}

.top-nav {
  background-color: #dbce53;
  height: 50px;
  position: absolute;
  bottom: -20px;
  left: 0px;
  width: 100%;
  list-style: none;
  display: flex;
}

.top-nav ul {
  margin: auto;
  display: flex;
  list-style: none;
}

.top-nav li a {
  font-family: "Work Sans", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  color: #eeede3;
  margin: 0 80px;
  padding-bottom: 25px;

}

.landing {
  background-image: url("../images/bw_poster_xl.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  /*should strech to cover entire background*/
  /*height: calc(100vh - 50px);*/
  /*height: 100vh;
  vh= veiwport height for height of the window*/
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0000;
  text-align: center;
  font-size: 50px;
}

h1 {
  font-family: "Fjalla One", sans-serif;
}

@media (max-width: 1000px) {
  .landing {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .landing {
    background-image: url("../images/bw_poster_med.jpg");
  }
}

.row {
  display: flex;
  overflow: hidden;
}

.bottom {
  display: flex;
  overflow: hidden;
}


.col-4 {
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 25%;
}




@media (max-width: 700px) {
  .row {
    display: block;
  }
  .col-4 {
    width: 100%;
  }
}
